<header>
  <img src="{{ '/images/scl.png' | relative_url }}" alt="Logo" class="logo" />
</header>

<nav>
  <ul>
  <li><a href="{{ '/' | relative_url }}">About</a></li>
  <li><a href="{{ '/events' | relative_url }}">Rides & Events</a></li>
  </ul>
</nav>
